{% extends 'base.html' %}
{% block title %}
    About Page
{% endblock title %}

{% block content %}
   <div class="about">
    <h1>About us</h1>
    <p>
        The company "SadikovMusic" was founded in 2023. SadikovMusic offers a wide range of musical instruments, sound and lighting equipment in Nukus. It has everything you need for a beginner and professional musician, sound engineer and producer, owner of a restaurant, karaoke, club, cinema.
        We fill the world with emotions, music and light. We develop a successful and efficient business by offering our customers a wide selection of musical instruments, sound and lighting equipment and a high level of service. We will always give you the opportunity to get to know the tool better.
        Our staff is always ready to help you when choosing musical instruments, be it string, keyboard, percussion or wind instrument. Most employees of the retail chain have a musical education. Rest assured, you will always receive professional advice and assistance in the selection of musical instruments, equipment and accessories.
    </p>
   </div>


{% endblock %}

