{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <h1 id="name">name: Daniyar</h1>
    <h1 id="surname">surname: Sadikov</h1>
    <h1 id="age">age: 19</h1>
    <h1 id="hobby">hobby: Mathematics</h1>

    <img src="https://avatars.mds.yandex.net/i?id=0831b7991e755678db406379bd224875611d4e1b-9173443-images-thumbs&n=13" alt="">

</body>
</html>